name: Deploy to DirectAdmin

on:
  push:
    branches:
      - main  # Trigger deployment only when code is pushed to the main branch

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Sync files to Server via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # The path on the server where files go (e.g., /domains/yourdomain.com/public_html)
          server-dir: /domains/truckers-africa.com/public_html/
          exclude: |
            **/.git*
            **/.git*/**
            **/.github/**
            **/node_modules/**